@charset "utf-8";

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: "Raleway";
    src: url([[font:theme|Raleway-Regular.ttf]]) format("truetype");
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: "Montserrat";
    src: url([[font:theme|Montserrat-Regular.ttf]]) format("truetype");
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: "Droid-serif";
    src: url([[font:theme|DroidSerif-Regular.ttf]]) format("truetype");
}