

// #page-footer {
//     background-color: red;
//     padding-top: 60px;
//     font-family: $font-family-sans-serif-h4;
//     letter-spacing: normal;
//     // color: $footer-color;

//     .text-light {
//         color: $footer-color !important;;
//     }
// }

#page-footer {
    padding: 1.5em 0;
    background-color: $footer-bg;
    // color: #cdcece;

    h4 {
        border: none;
        color: $pwa-charcoal;
        font-family: $font-family-sans-serif-montserrat;
        font-size: 0.875rem;
        text-transform: uppercase;
        font-weight: normal;
        letter-spacing: 0.5px;
        line-height: 1.3em;
        padding-bottom: 10px;
    }

    a {
        color: $pwa-lightgreen;
        font-size: 0.775rem;
        font-weight: bold;
        line-height: 1;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    p {
        font-family: $font-family-sans-serif-raleway;
    }

    .footer-links ul {
        list-style: none;
        padding-left: 0;
    }

    .col-logo {
        width: 24%;
        // padding-right: 60px;
        padding: 0 10px 0 60px;
        float: left;
    }

    .col-content {
        width: 19%;
        padding: 0 10px 0 10px;
        float: left;
    }

    // .container {
        // TODO fix position of footer content.
    // }
}
