#top-footer {
    background-color: $pwa-green;

    .social-media {
        justify-content: center;

        .fa {
            padding: 16px;
            text-align: center;
            text-decoration: none;
            color: white;
        }

        ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
        }

        li {
            float: left;
         }

        li a {
                display: block;
                color: white;
                text-align: center;
                padding: 16px;
                text-decoration: none;
        }
    }
}


#page-footer {
    padding: 1.5em 0;
    background-color: $footer-bg;
    // color: #cdcece;

    h4 {
        border: none;
        color: $pwa-charcoal;
        font-family: $font-family-sans-serif-montserrat;
        font-size: 0.875rem;
        text-transform: uppercase;
        font-weight: normal;
        letter-spacing: 0.5px;
        line-height: 1.3em;
        padding-bottom: 10px;
    }

    p {
        font-family: $font-family-sans-serif-raleway;
    }

    .footer-links {

        ul {
            list-style: none;
            padding-left: 0;
        }
        a {
            color: $pwa-lightgreen;
            font-size: 0.775rem;
            font-weight: bold;
            line-height: 1;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    .col-logo {
        width: 24%;
        padding: 0 10px 0 60px;
        float: left;
    }

    .col-content {
        width: 19%;
        padding: 0 10px 0 10px;
        float: left;
    }

    // .container {
        // TODO fix position of footer content.
    // }
}
