#page-my-index {

    background-color: $body-bg;

    // .card-body.p3 {
    //     border-top: 2pt $pwa-green solid;
    // }

    #region-main {
        background-color: $body-bg;
    }

    #region-main > .card > .card-body {
        padding: 0;
    }

    #mydashboard-user, #mydashboard-cop {
        .card-body {

            .fa {
                color: rgba($primary, 0.15);
            }
        }
    }

    .progress-text.has-percent {
        font-size: 15px;
    }

    .block_myoverview {
        .courses-view-course-item.card {
            max-width: 275px;
            box-shadow: 5px 5px 9px -4px rgba($primary, .1);
            border-bottom: solid 3px $primary;

            .card-img-top {
                height: 100px;
            }

            .courseimage {
                background-position: center right;
            }
        }
    }
}

#page .block {
    border: none;
    border-top: 2px solid $pwa-lightgreen;
}

//Admin Blocks
#side-admin-blocks {
    width: 100%;
    background: rgba($primary, 0.2);

    #block-region-side-admin {
        min-height: 150px;
        height: 100%;
        width: 100%;
    }
    .card {
        background: rgba($primary, 0.2);
    }
}
