body #page {
    //heading
    font-family: $font-family-sans-serif-raleway;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {

        border: none;
        color: $pwa-charcoal;
        font-weight: normal;
        letter-spacing: 0.5px;
        line-height: 1.3em;
        padding-bottom: 10px;
    }

    h1 {
        font-family: $font-family-sans-serif-raleway;
        font-size: $h1-font-size;
        font-weight: normal;
        letter-spacing: 0.5px;
        line-height: $line-height-lg;
    }

    h2 {
        font-family: $font-family-sans-serif-montserrat;
        font-size: $h2-font-size;
    }

    h3 {
        color: $pwa-lightgreen;
        font-family: $font-family-sans-serif-droid;
        font-size: $h3-font-size; // 18px.
        text-transform: uppercase;
    }

    h4, h5.card-title {
        font-family: $font-family-sans-serif-montserrat;
        font-size: $h4-font-size;
        text-transform: uppercase;
    }

    h5 {
        font-size: 0.9rem;
    }

    h6 {
        font-size: 0.7rem;
        line-height: 1rem;
    }
}

#region-main.has-blocks {
    background-color: white;
}

#nav-drawer[data-region="drawer"] {
    background-color: #efefef;
    }