{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page footer.
}}

{{! TODO Make this page use strings.}}

<footer id="page-footer">
    <div class="container">
        <div class="row">
            <div class="col-logo">
            <p>
                <img src="https://via.placeholder.com/66x53" class="d-block mb-4"/>
                © Professional Writing Academy 2020
            </p>
            </div>
            <div class="col-content">
                <h4>Courses</h4>
                <div class="footer-links">
                    <ul>
                        <li><a href="#">Writing Fiction</a></li>
                        <li><a href="#">Writing & Wellbeing</a></li>
                        <li><a href="#">Business Writing</a></li>
                        <li><a href="#">Academic Writing</a></li>
                        <li><a href="#">John Yorke Story</a></li>
                        <li><a href="#">CPD</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-content">
                <h4>Services</h4>
                <div class="footer-links">
                    <ul>
                        <li><a href="#">Mentoring</a></li>
                        <li><a href="#">Manuscript Review</a></li>
                        <li><a href="#">Feedback Report</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-content">
                <h4>About</h4>
                <div class="footer-links">
                    <ul>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Our Story</a></li>
                        <li><a href="#">The Team</a></li>
                        <li><a href="#">Who We Work With</a></li>
                        <li><a href="#">How It Works</a></li>
                        <li><a href="#">What People Say</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-content">
                <h4>Legal</h4>
                <div class="footer-links">
                    <ul>
                        <li><a href="#">Terms and Conditions</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Accessibility</a></li>
                        <li><a href="#">Cookies</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
{{{ output.standard_end_of_body_html }}}